:root{
    --spacing-medium:8px;
    --spacing-regular:16px;
    --font-small:0.5rem;
    --font-regular:1rem;
    --font-large:2rem;
    --font-x-large:4rem;

    --font-semibold:600;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin: var(--spacing-regular) auto;
    background-color: #222;
}
h1,
h2{
    margin: 0;
}
p{
    margin: var(--spacing-medium);
}
.container,
.container > article{
    border: 1px solid;
    border-radius: var(--spacing-regular);
    padding: var(--spacing-regular);
    gap: var(--spacing-regular);
    color: #222;
    background-color: #222;
}

/*styles related to current weather data*/
/*mobile first approach*/
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "search search"
    "current current" 
    "hourly hourly"
    "daily daily"
    "feels humidity";
}
/*Search Element*/
#search{
    grid-area: search;
    font-size: var(--font-large);
    border-radius: var(--font-regular);
    padding: var(--spacing-medium);
}

/*BLOCK 1*/
#Current-Forecast{
    grid-area: current;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
}
/*defining each internal element eg temp,desc & min-max temp*/
#Current-Forecast .temp{
    font-size: var(--font-x-large); 
}
#Current-Forecast .desc{
    text-transform: capitalize;
}
#Current-Forecast .desc,
#Current-Forecast .min-max{
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

/*BLOCK 2*/
#Hourly-Forecast{
    grid-area: hourly;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
}
/*styles related to hourly-forecast*/
#Hourly-Forecast .hourly-container{
    display: grid;
    grid-template-columns: repeat(auto fill, minmax(100px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
    overflow: auto;
    gap: var(--spacing-medium);
}
#Hourly-Forecast .hourly-container .icon{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
#Hourly-Forecast .hourly-container .hourly-temp{
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

/*BLOCK 3*/
#Daily-Forecast{
    grid-area: daily;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
}

/*styles related to daily forcast*/
#Daily-Forecast .five-day-forecast-container{
     display: grid;
     grid-auto-flow: row;
}
.five-day-forecast-container .day-wise-forecast{
     display: grid;
     grid-template: auto / repeat(4, 1fr);
     gap: var(--spacing-regular);
     place-items: center;
}
.five-day-forecast-container .day-wise-forecast .max-temp,
.five-day-forecast-container .day-wise-forecast .min-temp{
      font-size: (var(--font-regular));
      font-weight: var(--font-semibold);
}
.five-day-forecast-container .day-wise-forecast .min-temp{
    opacity: 50%;
}
.five-day-forecast-container .day-wise-forecast .max-temp{
    justify-self: end;
}
.five-day-forecast-container .day-wise-forecast .icon{
       text-transform: capitalize;
       justify-self: start;
}
.five-day-forecast-container .day-wise-forecast .day{
   text-transform: capitalize;
   justify-self: start;
}

/*BLOCK 4*/
#feels-Like{
    grid-area: feels;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
} 
#Humidity{
    grid-area: humidity;
    text-align: center;
    background: linear-gradient(135deg, #00feba, #5b548a);
}

/*Responsiveness for larger devices*/

@media (width >= 650px){
    .container{
       
        grid-template-columns: repeat(4,1fr);
        grid-template-areas:
        "search search search search"
        "current current current current" 
        "hourly hourly daily daily"
        "feels humidity daily daily";
        
    }
}